footer {
    display: flex;
    width: 100%;
    padding: 3em 5em;
}

.branding {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-name {
    font-weight: 600;
}

.icon {
    width: 15px;
}

