.need-a-website {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3em 10em 3em 10em;
    max-width: 70em;
}

.prompt {
    display: flex;
    flex-direction: column;
    max-width: 28em;
    gap: 1em;
}

.need-a-website img {
    width: 100px;
}

.prompt .button {
    align-self: flex-start;
}