* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px/1.2 Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    
}

header {
    display: flex;
    flex: 1 1 100%
}

aside {
    display: flex;
    flex: 1 1 30%
}
main {
    display: flex;
    flex: 1 1 60% 
}

footer {
    display: flex;
    flex: 1 1 100% 
}

header p {
    font-size: 2em;
}