* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(238, 238, 238) ;
    font: 18px/1.5 Verdana, Geneva, Tahoma, sans-serif;;
}

.card {
    background-color: rgb(255, 255, 255) ;
    display: inline-block;
    width: 500px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.image, .content{
    display: inline-block;
}

.image {
    display: block;
    position: relative;
    width: 100%;
}

.content {
    position: relative;
    color: black;
    padding: 30px;
}

h3 {
    font: 1em/1.2 Georgia, serif ;
    font-weight: bold;
}

p {
    font-size: 0.8em;
    padding: 15px 0px;
}

a {
    display: block;
    font-size: 0.8em;
    background-color: rgb(0, 153, 0) ;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    float: right;
}

