p {
    padding: 0;
    line-height: 1;
}

.team {
    display: flex;
    flex: 1 1 100%;
    max-width: 100em;
    padding: 3em 10em 3em 10em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

}

.team-members {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
}

.member {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    text-align: center;
    padding: 2em 3em 2em 3em;
}

.member img {
    max-width: 100px;
    border-radius: 50%;
    outline: 4px solid rgba(255, 255, 255, 0.3);
    outline-offset: -4px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    
}


.member-name {
    font-weight: 600;
    padding: 2.5em 0 0.3em 0;
}

.member-position {
    padding-bottom: 1.2em;
}

.team h3 {
    border-bottom: 3px solid rgb(39, 39, 39);
    padding-bottom: 1em;
}

